<div class="containerStart">
<h2>Zaloguj się lub <a ui-sref="start.register">zarejestruj</a></h2><br>

<div class="loginForm" ng-controller="loginController">

<form name="myForm" ng-submit="login(myForm.$valid)" novalidate>

  <div class="input-field">
    <input ng-model="loginForm.username" name="username"  placeholder="E-mail" required><br>
    <span class="error" ng-show="(submitted && myForm.username.$pristine) || (myForm.username.$touched && myForm.username.$error.required)">Podaj adres E-mail</span>

  </div>

  <div class="input-field">
    <input type="password" ng-model='loginForm.password' name="password" placeholder="Hasło" required><br>
    <span class="error" ng-show="(submitted && myForm.password.$pristine) || (myForm.password.$touched && myForm.password.$error.required)">Podaj hasło</span>

  </div>
  <div class="error">{{errorMessage}}</div>
  <div class="btn-div"><button type="submit" class="orange darken-4 waves-effect waves-light btn" ng-click="submitted=true" ng-disable="loginForm.$invalid">Zaloguj się</button></div>
    <div class="nextToButton">Nie masz konta? <a ui-sref="start.register">Zarejestruj się</a>
    </div>
  <div class="clear"></div>
</form>
</div>
<div class="startList">
<ul>
  <li>stwórz własny profil sportowy</li>
  <li>zapisuj swoje postępy i osiągnięcia</li>
  <li>dopasuj swój plan treningowy</li>
  <li>stwórz dopasowaną dietę</li>
  <li>Zapisuj postępy przeglądaj swoje statystyki</li>
  <li>dziel się swoimi osiągnięciami z innymi</li>
</ul>
</div>
</div>