<div class="containerStart">
  <h2>Rejestracja</h2>
  <span>Stwórz swój profil sportowy, plan treningowy i zapisuj postępy</span>

  <div class="loginForm">
  <form ng-submit="register(userForm.$valid)" novalidate>

    <div class="input-field">
      <input id="email" type="email" class="validate" name="username" ng-model="registerForm.username" placeholder="E-mail" required>
      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="">You name is required.</p>
    </div>

    <div class="input-field">
      <input type="password" class="validate" name="password" ng-model="registerForm.password" placeholder="Hasło" required>
    </div>

    <div class="input-field">
      <input type="text" class="validate" name="name" ng-model="registerForm.name" placeholder="Imię" ng-minlength="3" ng-maxlength="10" required>
    </div>

    <div class="input-field">
      <input type="text" class="validate" name="surname" ng-model="registerForm.surname" placeholder="Nazwisko" ng-minlength="3" ng-maxlength="10"  required>
    </div>


    {{errorMessage}}
    <div class="btn-div">
      <button type="submit" class="orange darken-4 waves-effect waves-light btn" ng-disabled="disabled">Register</button>
    </div>
  </form>


</div>
</div>